<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="hello" class="com.szt.hello.HelloWorld">  <!--bean id 就是类的对象名  -->
       <property name="hi" value="Hello World!"/>
       <property name="name" value="zhantao su"></property>
		<property name="age" value="15"></property>
   </bean>


	
</beans>